In [252]:
path = 'datasets/INA_TweetsPPKM_Labeled_Pure.csv'

In [253]:
import pandas as pd
import re

df = pd.read_csv(path, sep='	')
df

,Date,User,Tweet,sentiment
0,2022-03-31 14:32:04+00:00,pikobar_jabar,Ketahui informasi pembagian #PPKM di wilayah J...,1
1,2022-03-31 09:26:00+00:00,inewsdotid,Tempat Ibadah di Wilayah PPKM Level 1 Boleh Be...,1
2,2022-03-31 05:02:34+00:00,vdvc_talk,"Juru bicara Satgas Covid-19, Wiku Adisasmito m...",1
3,2022-03-30 14:23:10+00:00,pikobar_jabar,Ketahui informasi pembagian #PPKM di wilayah J...,1
4,2022-03-30 11:28:57+00:00,tvOneNews,Kementerian Agama menerbitkan Surat Edaran Nom...,1
...,...,...,...,...
23639,2020-06-26 18:34:56+00:00,bananabluff,noelle loses a bet to akarsha and it somehow e...,1
23640,2020-06-19 15:14:07+00:00,Auqroix,they call her... weekeeshee...\n#butterflysoup...,1
23641,2020-06-18 23:45:26+00:00,Auqroix,"put out what you wanna see more of, amirite ga...",1
23642,2020-06-15 23:17:22+00:00,Auqroix,"i don't need anybody, i'm fine here on my own\...",1
23643,2020-05-06 04:34:13+00:00,nindiiayudya,"Selamat Siang sahabat online, nih aku sedikit ...",0

In [254]:
df[df['Tweet'].str.contains('https?://\S+')].shape

(18077, 4)

In [255]:
df['Tweet'] = df['Tweet'].apply(lambda x: re.sub(r'https?://\S+', '$URL', x))

In [256]:
import re
import emoji


def clean_text(text):
    # Remove emojis
    text = emoji.replace_emoji(text)
    # Remove newlines
    text = re.sub(r'\n', ' ', text)
    # Remove tabs
    text = re.sub(r'\t', ' ', text)
    # Replace multiple spaces with a single space
    text = re.sub(r'\s+', ' ', text)
    # Strip leading and trailing spaces
    text = text.strip()
    return text

In [257]:
df['Tweet'] = df['Tweet'].apply(clean_text)

In [258]:
df['sentiment'].value_counts()

sentiment
1    17706
2     3980
0     1958
Name: count, dtype: int64

In [259]:
df[df['Tweet'].str.contains('#[A-Za-z0-9_]+')]

,Date,User,Tweet,sentiment
0,2022-03-31 14:32:04+00:00,pikobar_jabar,Ketahui informasi pembagian #PPKM di wilayah J...,1
1,2022-03-31 09:26:00+00:00,inewsdotid,Tempat Ibadah di Wilayah PPKM Level 1 Boleh Be...,1
2,2022-03-31 05:02:34+00:00,vdvc_talk,"Juru bicara Satgas Covid-19, Wiku Adisasmito m...",1
3,2022-03-30 14:23:10+00:00,pikobar_jabar,Ketahui informasi pembagian #PPKM di wilayah J...,1
4,2022-03-30 11:28:57+00:00,tvOneNews,Kementerian Agama menerbitkan Surat Edaran Nom...,1
...,...,...,...,...
23639,2020-06-26 18:34:56+00:00,bananabluff,noelle loses a bet to akarsha and it somehow e...,1
23640,2020-06-19 15:14:07+00:00,Auqroix,they call her... weekeeshee... #butterflysoup ...,1
23641,2020-06-18 23:45:26+00:00,Auqroix,"put out what you wanna see more of, amirite ga...",1
23642,2020-06-15 23:17:22+00:00,Auqroix,"i don't need anybody, i'm fine here on my own ...",1
23643,2020-05-06 04:34:13+00:00,nindiiayudya,"Selamat Siang sahabat online, nih aku sedikit ...",0

In [260]:
def remove_hashtag_or_url_only(text):
    real_text = text
    # Remove hashtags
    text = re.sub(r'#[A-Za-z0-9_]+', '', text)
    # Remove URLs
    text = re.sub(r'[$URL]+', '', text)
    text = re.sub(r'\s+', '', text)
    if not text.strip():
        return ''
    return real_text


df['Tweet'] = df['Tweet'].apply(remove_hashtag_or_url_only)
df.drop(df[df['Tweet'] == ''].index, inplace=True)
df

,Date,User,Tweet,sentiment
0,2022-03-31 14:32:04+00:00,pikobar_jabar,Ketahui informasi pembagian #PPKM di wilayah J...,1
1,2022-03-31 09:26:00+00:00,inewsdotid,Tempat Ibadah di Wilayah PPKM Level 1 Boleh Be...,1
2,2022-03-31 05:02:34+00:00,vdvc_talk,"Juru bicara Satgas Covid-19, Wiku Adisasmito m...",1
3,2022-03-30 14:23:10+00:00,pikobar_jabar,Ketahui informasi pembagian #PPKM di wilayah J...,1
4,2022-03-30 11:28:57+00:00,tvOneNews,Kementerian Agama menerbitkan Surat Edaran Nom...,1
...,...,...,...,...
23639,2020-06-26 18:34:56+00:00,bananabluff,noelle loses a bet to akarsha and it somehow e...,1
23640,2020-06-19 15:14:07+00:00,Auqroix,they call her... weekeeshee... #butterflysoup ...,1
23641,2020-06-18 23:45:26+00:00,Auqroix,"put out what you wanna see more of, amirite ga...",1
23642,2020-06-15 23:17:22+00:00,Auqroix,"i don't need anybody, i'm fine here on my own ...",1
23643,2020-05-06 04:34:13+00:00,nindiiayudya,"Selamat Siang sahabat online, nih aku sedikit ...",0

In [261]:
def remove_end_hashtags(text):
    middle_index = len(text) // 2
    # Extract hashtags from the second half of the text
    second_half = text[middle_index:]
    hashtags = re.findall(r'#[A-Za-z0-9_]+', second_half)
    if not hashtags:
        return text
    return text[:middle_index] + re.sub(r'#[A-Za-z0-9_]+', '', second_half)


# Apply the function to extract end hashtags
df['Tweet'] = df['Tweet'].apply(remove_end_hashtags)
df

,Date,User,Tweet,sentiment
0,2022-03-31 14:32:04+00:00,pikobar_jabar,Ketahui informasi pembagian #PPKM di wilayah J...,1
1,2022-03-31 09:26:00+00:00,inewsdotid,Tempat Ibadah di Wilayah PPKM Level 1 Boleh Be...,1
2,2022-03-31 05:02:34+00:00,vdvc_talk,"Juru bicara Satgas Covid-19, Wiku Adisasmito m...",1
3,2022-03-30 14:23:10+00:00,pikobar_jabar,Ketahui informasi pembagian #PPKM di wilayah J...,1
4,2022-03-30 11:28:57+00:00,tvOneNews,Kementerian Agama menerbitkan Surat Edaran Nom...,1
...,...,...,...,...
23639,2020-06-26 18:34:56+00:00,bananabluff,noelle loses a bet to akarsha and it somehow e...,1
23640,2020-06-19 15:14:07+00:00,Auqroix,they call her... weekeeshee... $URL,1
23641,2020-06-18 23:45:26+00:00,Auqroix,"put out what you wanna see more of, amirite ga...",1
23642,2020-06-15 23:17:22+00:00,Auqroix,"i don't need anybody, i'm fine here on my own ...",1
23643,2020-05-06 04:34:13+00:00,nindiiayudya,"Selamat Siang sahabat online, nih aku sedikit ...",0

In [262]:
unique_hashtags = df['Tweet'].apply(lambda x: re.findall(r'#[A-Za-z0-9_]+', x))
unique_hashtags = unique_hashtags[unique_hashtags.apply(lambda x: len(x) > 0)]
unique_hashtags = unique_hashtags.explode().to_frame()
unique_hashtags = unique_hashtags.astype({'Tweet': 'str'})
unique_hashtags['Tweet'] = unique_hashtags['Tweet'].apply(lambda x: x.lower())
unique_hashtags['Tweet'].value_counts()

Tweet
#ppkm           4095
#covid19         427
#ppkmdarurat     241
#covid           130
#indonesia       117
                ...
#poldadiy          1
#ukm               1
#bumdes            1
#desadigital       1
#mobility          1
Name: count, Length: 4195, dtype: int64

In [263]:
df['raw_content'] = df['Tweet']
df = df.drop('Tweet', axis=1)
df['sentiment'] = df['sentiment'].map({0: 'negative', 1: 'neutral', 2: 'positive'})

In [264]:
with open('datasets/tweets_ppkm_clean.json', 'w') as f:
    df.to_json(f, orient='records')