In [257]:
path = 'datasets/INA_TweetsPPKM_Labeled_Pure.csv'

In [258]:
import pandas as pd
import re

df = pd.read_csv(path, sep='	')
df

,Date,User,Tweet,sentiment
0,2022-03-31 14:32:04+00:00,pikobar_jabar,Ketahui informasi pembagian #PPKM di wilayah J...,1
1,2022-03-31 09:26:00+00:00,inewsdotid,Tempat Ibadah di Wilayah PPKM Level 1 Boleh Be...,1
2,2022-03-31 05:02:34+00:00,vdvc_talk,"Juru bicara Satgas Covid-19, Wiku Adisasmito m...",1
3,2022-03-30 14:23:10+00:00,pikobar_jabar,Ketahui informasi pembagian #PPKM di wilayah J...,1
4,2022-03-30 11:28:57+00:00,tvOneNews,Kementerian Agama menerbitkan Surat Edaran Nom...,1
...,...,...,...,...
23639,2020-06-26 18:34:56+00:00,bananabluff,noelle loses a bet to akarsha and it somehow e...,1
23640,2020-06-19 15:14:07+00:00,Auqroix,they call her... weekeeshee...\n#butterflysoup...,1
23641,2020-06-18 23:45:26+00:00,Auqroix,"put out what you wanna see more of, amirite ga...",1
23642,2020-06-15 23:17:22+00:00,Auqroix,"i don't need anybody, i'm fine here on my own\...",1
23643,2020-05-06 04:34:13+00:00,nindiiayudya,"Selamat Siang sahabat online, nih aku sedikit ...",0

In [259]:
df[df['Tweet'].str.contains('https?://\S+')].shape

(18077, 4)

In [260]:
df['Tweet'] = df['Tweet'].apply(lambda x: re.sub(r'https?://\S+', '', x))

In [261]:
import re
import emoji


def clean_text(text):
    # Remove emojis
    text = emoji.replace_emoji(text)
    # Remove newlines
    text = re.sub(r'\n', ' ', text)
    # Remove tabs
    text = re.sub(r'\t', ' ', text)
    # Replace multiple spaces with a single space
    text = re.sub(r'\s+', ' ', text)
    # Strip leading and trailing spaces
    text = text.strip()
    return text

In [262]:
df['Tweet'] = df['Tweet'].apply(clean_text)

In [263]:
df['sentiment'].value_counts()

sentiment
1    17706
2     3980
0     1958
Name: count, dtype: int64

In [264]:
df[df['Tweet'].str.contains('#[A-Za-z0-9_]+')]

,Date,User,Tweet,sentiment
0,2022-03-31 14:32:04+00:00,pikobar_jabar,Ketahui informasi pembagian #PPKM di wilayah J...,1
1,2022-03-31 09:26:00+00:00,inewsdotid,Tempat Ibadah di Wilayah PPKM Level 1 Boleh Be...,1
2,2022-03-31 05:02:34+00:00,vdvc_talk,"Juru bicara Satgas Covid-19, Wiku Adisasmito m...",1
3,2022-03-30 14:23:10+00:00,pikobar_jabar,Ketahui informasi pembagian #PPKM di wilayah J...,1
4,2022-03-30 11:28:57+00:00,tvOneNews,Kementerian Agama menerbitkan Surat Edaran Nom...,1
...,...,...,...,...
23639,2020-06-26 18:34:56+00:00,bananabluff,noelle loses a bet to akarsha and it somehow e...,1
23640,2020-06-19 15:14:07+00:00,Auqroix,they call her... weekeeshee... #butterflysoup ...,1
23641,2020-06-18 23:45:26+00:00,Auqroix,"put out what you wanna see more of, amirite ga...",1
23642,2020-06-15 23:17:22+00:00,Auqroix,"i don't need anybody, i'm fine here on my own ...",1
23643,2020-05-06 04:34:13+00:00,nindiiayudya,"Selamat Siang sahabat online, nih aku sedikit ...",0

In [265]:
# def remove_hashtag_or_url_only(text):
#     real_text = text
#     # Remove hashtags
#     text = re.sub(r'#[A-Za-z0-9_]+', '', text)
#     # Remove URLs
#     text = re.sub(r'[$URL]+', '', text)
#     text = re.sub(r'\s+', '', text)
#     if not text.strip():
#         return ''
#     return real_text
# 
# 
# df['Tweet'] = df['Tweet'].apply(remove_hashtag_or_url_only)
# df.drop(df[df['Tweet'] == ''].index, inplace=True)
# df

In [266]:
# def remove_end_hashtags(text):
#     middle_index = len(text) // 2
#     # Extract hashtags from the second half of the text
#     second_half = text[middle_index:]
#     hashtags = re.findall(r'#[A-Za-z0-9_]+', second_half)
#     if not hashtags:
#         return text
#     return text[:middle_index] + re.sub(r'#[A-Za-z0-9_]+', '', second_half)
# 
# 
# # Apply the function to extract end hashtags
# df['Tweet'] = df['Tweet'].apply(remove_end_hashtags)
# df

In [267]:
unique_hashtags = df['Tweet'].apply(lambda x: re.findall(r'#[A-Za-z0-9_]+', x))
unique_hashtags = unique_hashtags[unique_hashtags.apply(lambda x: len(x) > 0)]
unique_hashtags = unique_hashtags.explode().to_frame()
unique_hashtags = unique_hashtags.astype({'Tweet': 'str'})
unique_hashtags['Tweet'] = unique_hashtags['Tweet'].apply(lambda x: x.lower())
unique_hashtags['Tweet'].value_counts()

Tweet
#ppkm                  23786
#covid19                3183
#ppkmdarurat            1759
#indonesia              1067
#ppkmlevel4              778
                       ...
#salimmegatamagroup        1
#satuindonesiasatu         1
#validriset                1
#gba                       1
#diyamin                   1
Name: count, Length: 16154, dtype: int64

In [268]:
df['raw_content'] = df['Tweet']
df = df.drop('Tweet', axis=1)
df['sentiment'] = df['sentiment'].map({0: 'negative', 1: 'neutral', 2: 'positive'})

In [269]:
import string


def split_hashtag(hashtag):
    words = re.findall(r'[A-Z]?[a-z]+|[A-Z]+(?=[A-Z]|$)', hashtag)
    return ' '.join(words)


def clean_text2(text):
    if re.search(r'poker|jackpot|pulsa|domino|cashback|judi|bandar|agen|winrate', text.lower()):
        return ''
    text = ' '.join([split_hashtag(word) if word.startswith('#') else word for word in text.split()])
    # Normalize ellipses
    text = re.sub(r'\.{2,}', ' . ', text)
    # Handle repeated punctuation
    text = re.sub(r'([!?.]){2,}', r'\1', text)
    # Ensure spacing around punctuation
    text = re.sub(f'([{string.punctuation}])', r' \1 ', text)
    text = re.sub(r'\s{2,}', ' ', text)
    return text


df['raw_content'] = df['raw_content'].apply(clean_text2)

In [270]:
df = df[df['raw_content'] != '']

In [271]:
# words = df['raw_content'].str.split().explode()
# words = words.value_counts()
# words = words[words > 512]
# words

In [272]:
count = df[df['raw_content'].str.len() > 512].shape[0]
count

0

In [273]:
## random remove the neutral sentiment to balance the data
df = df.drop(df[df['sentiment'] == 'neutral'].sample(frac=.78).index)

In [274]:
df['sentiment'].value_counts()

sentiment
positive    3962
neutral     3843
negative    1924
Name: count, dtype: int64

In [275]:
df['raw_content'] = df['raw_content'].apply(lambda x: ' '.join(x.split()))

In [276]:
with open('datasets/tweets_ppkm_clean.json', 'w') as f:
    df.to_json(f, orient='records')